# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/
stats.json

# Logs
logs/
*.log

# Audio files

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Virtual environment
*.venv
```